.reveal .topBanner {
	position: fixed;
	display: block;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: black;
	color: white;
}

.reveal .topBanner .mystyle {
	color: yellow;
}